@font-face {
    font-family: Amarante;
    src: url('../fonts/Amarante-Regular.ttf');
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background: #293232;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

textarea, input {
    font-family: "Amarante" !important;
    font-size: 16pt;
    color: white;
}

.console {
    min-height: 80vh;
    width: 100%;
    max-width: 960px;
    position: relative;
    font-size: 18px;
}

.console__element {
    position: absolute;
    width: 100%;
    left: 0;
    max-width: 960px;
    background: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}

.console__output {
    overflow-y: hidden;
    padding: 0;
    border: none;
    height: calc(100% - 48px);
    resize: none;
 }

.console__input {
    -webkit-box-shadow: inset 39px -47px 64px -77px rgba(205,231,235,0.3);
    -moz-box-shadow: inset 39px -47px 64px -77px rgba(205,231,235,0.3);
    box-shadow: inset 39px -47px 64px -77px rgba(205,231,235,0.3);
    height: 35px;
    bottom: 0;
    border: aliceblue 1px solid;
    width: calc(100% - 35px);
    padding-left: 30px;
}

.console__arrow {
    position: absolute;
    color: #ffffff;
    bottom: 0px;
    padding-bottom: 7px;
}
